* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 2rem;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.container > * {
	margin-bottom: 1.5rem;
}

.App-header {
	text-align: center;
	color: #333;
}

button {
	background-color: #61dafb;
	border: none;
	padding: 10px 20px;
	font-size: 1rem;
	cursor: pointer;
	color: white;
	border-radius: 5px;
}

button:hover {
	background-color: #21a1f1;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

form input {
	padding: 10px;
	width: 300px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

form label {
	text-align: left;
	width: 100%;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table,
th,
td {
	border: 1px solid #ddd;
}

th,
td {
	padding: 10px;
	text-align: left;
}

th {
	background-color: #f4f4f4;
}

/* Style the form - display items horizontally */
.form-inline {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-end; /* Align items to the right */
}

/* Add some margins for each label */
.form-inline label {
	margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
	vertical-align: middle;
	margin: 5px 10px 5px 0;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
	padding: 10px 20px;
	background-color: dodgerblue;
	border: 1px solid #ddd;
	color: white;
}

.form-inline button:hover {
	background-color: royalblue;
}
